#loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;

    .box {
        width: 250px;
        height: 250px;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;

        .inner {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
        }

        .scaled {
            transform-origin: center;
            transform: scale(0.6, 0.6);
        }

        .text {
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            top: 100%;
            left: 0;
            color: #f7941d;
        }
    }

    #load-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100px;
        width: 0;
        background-color: #f7941d;
    }
}

#system-stage {
    height: 100vh;
}

#interface-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 470px;
    pointer-events: none;
    transition: opacity 3s ease-out;
    &[active]{
        opacity: 1;
    }
    &[disabled]{
        opacity: 0;
    }
    #star-info {
        padding-left: 70px;
        padding-top: 70px;
        height: 100%;
        color: #ffffff;
        .name {
            font-size: 100px;
            font-weight: 700;
        }
        .key{
            font-size: 17px;
            font-weight: 600;
        }
        .target{
            font-size: 17px;
            font-weight: 600;
        }
    }
    #fly-controls{
        padding-left: 70px;
        padding-top: 20px;
        .button{
            pointer-events: all;
            cursor: pointer;
            color: #ffffff;
            padding: 5px;
            width: 70px;
            height: 70px;
            text-align: center;
            i{
                font-size: 50px;
            }
            .tooltip{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 5px;
                padding: 5px 15px;
                text-align: center;
                font-size: 15px;
                font-weight: 600;
                width: 70px;
                color: #ffffff;
                background-color: #2b2b2b;
                box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.9);
                opacity:0;
                transition: transform 0.5s ease-out , opacity 0.5s ease-out;
                z-index: 3;
                pointer-events: none;
                &:after{
                    position: absolute;
                    top:100%;
                    left:50%;
                    transform: translateX(-50%);
                    border: solid 10px transparent;
                    border-top-color: #2b2b2b;
                    content: "";
                }
            }
            &:hover{
                .tooltip{
                    opacity: 1;
                    transform: translateX(-50%) translateY(-20px);
                }
            }
            &[disabled]{
                pointer-events: none;
            }
        }
    }
}

#warp-stage{
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    pointer-events: all;
    z-index: 10;
    opacity: 1;
    &[disabled]{
        opacity: 0;
        pointer-events: none;
    }
}
